image: maven:3.9.6-eclipse-temurin-21

stages:
  - build
  - test
  - package

cache:
  paths:
    - .m2/repository

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"

build:
  stage: build
  script:
    - mvn -B compile
  artifacts:
    paths:
      - target/

test:
  stage: test
  script:
    - mvn -B test

package:
  stage: package
  script:
    - mvn -B package -DskipTests
  artifacts:
    paths:
      - target/blog-1.0.0.jar
